body {
    padding-top: 56px;
}

.navbar-custom {
    background-color: #0b335b;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-nav .nav-link {
    color: #ffffff;
}

.navbar-custom .navbar-toggler-icon {
    background-color: #1a1313;
}